@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&family=Barlow:wght@100;200;300;400;500;600;700&family=Bellefair&display=swap');
body {
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
}

.logo {
    text-decoration: none;
    color: #000;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 8;
}

.head-cont {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

@media (max-width:1200px) {
    .head-cont {
        width: 100%;
    }
}

.nav-item a {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: rgba(255, 255, 255, 0.473);
}

.nav-item a :active {
    color: white;
}

.nav-item a:hover,
.nav-item a.active {
    color: rgb(255, 255, 255);
}

.nav-item a:hover {
    color: rgb(209, 209, 209);
    text-decoration: none;
}

.navbar {
    background: rgb(0, 0, 0, 0.04) !important;
    backdrop-filter: blur(81.5485px) !important;
    height: 81px;
}

.wprd {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: rgb(255, 255, 255) !important;
    margin-right: 90px;
}

.wprd:hover {
    color: #cacaca !important;
    transition: 0.25s;
}

.navbar-brand {
    color: white !important;
}

.logo {
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
    padding-right: 53px;
    font-family: 'Bellefair';
}

.line {
    width: 200px;
    height: 1px;
    background-color: white;
    opacity: .25;
}

@media (max-width:800px) {
    .line {
        display: none;
    }
}

.navbar-nav {
    position: relative;
}

.underline {
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: white;
    bottom: -18px;
    left: 0%;
}

#BOX {
    position: absolute;
    top: 350px;
}

.learn {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 4.725px;
    color: #D0D6F9;
}

.quan {
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.text {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    color: #D0D6F9;
}

@media only screen and (max-width: 1920px) {
    body {
        background-image: url(../media/mainbackground.png);
    }
    .learn {
        font-size: 28px;
    }
    .quan {
        font-size: 150px;
    }
    .text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) {
    .underline {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-image: url(../media/maintablet.png);
    }
}

@media only screen and (max-width: 768px) {
    #BOX {
        left: 0;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(../media/mainphoneback.png);
    }
}

@media only screen and (max-width: 672px) {
    #BOX {
        left: 0;
    }
    .learn {
        font-size: 16px;
        text-align: center;
    }
    .quan {
        font-size: 80px;
        text-align: center;
    }
    .text {
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (max-width:992px) {
    .underline {
        display: none;
    }
    .nav-item a {
        font-size: 24px;
        margin-top: 30px;
        margin-left: 70px;
        margin-bottom: 30px;
    }
    .page-footer {
        text-align: center;
    }
}


/* TEXT UNDER */

#namebox {
    margin-top: 800px;
    height: 41px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #950203 100%);
    transform: rotate(-180deg);
}

#textunder {
    margin-top: 61px;
}

#textunder .container {
    padding-bottom: 61px;
}

#bigbang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.how {
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 44px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 61px;
}

.bigbang {
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 61px;
}

.textunder {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}


/* TEXT UNDER */

.page-footer {
    margin-top: 200px;
}

.divider {
    border-top: 1px solid white;
}

h6 {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

footer p,
a {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #535353;
    display: block;
    margin-bottom: 10px;
}

footer a:hover {
    color: #b8b8b8;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 20px;
}
